* {
	box-sizing: border-box;
}

/* Font styles */

html {
	font-size: 16px;
}

body {
	font-family: Georgia, serif;
	line-height: 1.5;
	color: #475C71;
	font-size: 1.25rem;
}

a {
	text-decoration: underline;
	color: #475C71;
	transition: all 150ms ease-in;
}

a:hover {
	color: #DFAB3F;
}

strong {
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Rubik Mono One', sans-serif;
	line-height: 1.25;
	font-weight: 700;
	color: #FED0B7;
}

h1 {
	font-size: 5rem;
	color: #D3E4CF;
}

h2 {
	font-size: 1.5rem;
}

p.icons {
	font-size: 1.5rem;
}

p.icons > a {
	margin-right: 0.125rem;
	text-decoration: none;
	color: #FED0B7;
}

p.icons > a:hover {
	color: #DFAB3F;
}


/* Readable text */

h1, h2, h3, h4, h5, h6, p, ul, li {
	max-width: 36em;
	margin-bottom: 1rem;
}


/* Image styles */

img {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 1rem;
	border-radius: .5rem;
	transition: all 150ms ease-in;
}

img:hover {
	opacity: 0.8;
}


/* Spacing */

.container {
	display: block;
	margin: 2rem 1rem;
}

section {
	margin-bottom: 2rem;
}

/* Above 800px */
@media only screen and (min-width: 833px) {
	.container {
		max-width: 50rem; /* 800px */
		margin: 2rem auto;
	}

	section {
		margin-bottom: 4rem;
	}
}

