* {
	box-sizing: border-box;
}

img, svg {
  display: block;
  vertical-align: middle;
}

/* Font styles */

html {
	font-size: 16px;
}

body {
	font-family: Georgia, serif;
	line-height: 1.5;
	color: #475C71;
	font-size: 1.25rem;
}

a {
	text-decoration: underline;
	color: #475C71;
	transition: all 150ms ease-in;
}

a:hover {
	color: #DD6000;
}

strong {
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Calistoga', Georgia, serif;
	line-height: 1.25;
	font-weight: 400;
	letter-spacing: 0.03em;
}

h1 {
	font-size: 6rem;
	color: #212121;
}

h2 {
	font-size: 1.75rem;
	color: #FED0B7;
	text-transform: lowercase;
}

.center-align {
	text-align: center;
}

.icons {
	display: flex;
	justify-content: center;
}

.icons > a {
	text-decoration: none;
}

.icons > li {
	margin: 0 .25rem;
}

.icon, .icon path {
	width: 20px;
	height: 20px;
	transition: all 150ms ease-in;
}

.icon:hover {
  transform: scale(1.05);
}

.icon:hover path,
.icons a:focus svg path {
  fill: #DD6000;
}


/* Readable text */

h1, h2, h3, h4, h5, h6, p, ul {
	margin-bottom: 1rem;
}


/* Spacing */

.container {
	display: block;
	margin: 2rem 1rem;
}

section {
	margin-bottom: 2rem;
}

/* Above 800px */
@media only screen and (min-width: 833px) {
	.container {
		max-width: 50rem; /* 800px */
		margin: 2rem auto;
	}

	section {
		margin-bottom: 4rem;
	}
}

