* {
	box-sizing: border-box;
}

img, svg {
  display: block;
  vertical-align: middle;
}

/* Font styles */

@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/HKGrotesk-Thin.woff") format('woff');
  font-weight: 100;
}

@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/HKGrotesk-Light.woff") format('woff');
  font-weight: 300;
}

@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/HKGrotesk-Medium.woff") format('woff');
  font-weight: 500;
}

html {
	font-size: 16px;
	font-family: "HKGrotesk", system-ui, sans-serif;
	font-weight: 500;
	background-color: #CDD6BB;
}

html, a {
	color: #3B4237;
}

a {
	text-decoration: underline;
	transition: all 200ms ease-out;
}

a:hover {
	opacity: 0.75;
}

a:active {
	opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.125;
}

h1 {
	font-size: 6rem;
	font-weight: 100;
	margin-bottom: 0;
}

h2 {
	font-size: 1.25rem;
	font-weight: 300;
	margin-bottom: 2rem;
}

.above {
	background: no-repeat url('../images/above.svg') center;
	line-height: 1;
	padding: 1.75rem 0 0;
}

.below {
	background: no-repeat url('../images/below.svg') center;
	line-height: 1;
	padding: 0 0 1.75rem;
}

p, ul, li {
	margin-bottom: 1rem;
	line-height: 1.5;
}


/* Icons */

.icons {
	display: flex;
	justify-content: center;
	gap: .5rem;
}

.icons a {
	text-decoration: none;
	display: inline-block;
	background-color: #3B4237;
	border-radius: 1rem;
	padding: .5rem;
	transition: all 200ms ease-out;
}

.icons a:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.icons a:active {
  transform: scale(1);
  opacity: 1;
}

.icon, .icon path {
	width: 1rem;
	height: 1rem;
}

.icon path {
	fill: #CDD6BB;
}

/* Footer */

footer p {
	display: inline-block;
	font-size: .75rem;
	margin-bottom: 0;
	padding: .25rem .5rem;
	border: 1px solid #3B4237;
	border-radius: 2rem;
}

/* Layout */

.center-align {
	text-align: center;
}

.container {
	display: block;
	margin: 4rem 1rem;
}

section {
	margin-bottom: 4rem;
}

/* Above 800px */
@media only screen and (min-width: 833px) {
	.container {
		max-width: 50rem; /* 800px */
		margin: 5rem auto;
	}

	section {
		margin-bottom: 5rem;
	}
}

/* Animation */
.fade-in {
	-webkit-animation: fade-in .8s ease-out forwards;
	animation: fade-in .8s ease-out forwards;
	opacity: 0;
	-webkit-transform: translateY(1em);
	transform: translateY(1em);
}

@-webkit-keyframes fade-in {
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}